In [1]:
## Import required libraries
import numpy as np
import pandas as pd
from functools import reduce

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from bokeh.io import output_notebook, show
from bokeh.plotting import figure

pd.set_option('display.max_columns',25)

In [2]:
output_notebook()  ## Using this all calls to the function show() will be displayed inline in the notebook

#### **``Loading CSV files of Total Population, CBR, DR, FR, IMR, LER, Rural & Urban Pop``**

#### **``1.Total Population Data``**

In [3]:
total_pop_df = pd.read_csv("Datasets/india-population-2020-06-22.csv",skiprows=15)
total_pop_df.head()

         date   Population   Annual % Change
0  1950-12-31    376325200               NaN
1  1951-12-31    382376948              1.61
2  1952-12-31    388799073              1.68
3  1953-12-31    395544369              1.73
4  1954-12-31    402578596              1.78

#### **``2. Crude Birth Rate Data``**

In [4]:
cbr_df = pd.read_csv("Datasets/india-population-cbr.csv")
cbr_df.head()

         date   Births per 1000 People   Annual % Change
0  31/12/1950                   44.175               NaN
1  31/12/1951                   43.970             -0.46
2  31/12/1952                   43.764             -0.47
3  31/12/1953                   43.558             -0.47
4  31/12/1954                   43.352             -0.47

#### **``3. Death Rate Data``**

In [5]:
dr_df = pd.read_csv("Datasets/india-population-death_rate.csv",skiprows=15)
dr_df.head()

         date   Deaths per 1000 People   Annual % Change
0  1950-12-31                   28.161               NaN
1  1951-12-31                   27.584             -2.05
2  1952-12-31                   27.008             -2.09
3  1953-12-31                   26.432             -2.13
4  1954-12-31                   25.856             -2.18

#### **``4. Fertility Rate Data``**

In [6]:
fert_df = pd.read_csv("Datasets/india-population-fertitltyrate.csv",skiprows=15)
fert_df.head()

         date   Births per Woman   Annual % Change
0  1950-12-31              5.907               NaN
1  1951-12-31              5.906             -0.02
2  1952-12-31              5.904             -0.03
3  1953-12-31              5.903             -0.02
4  1954-12-31              5.902             -0.02

#### **``5. Infant Mortality Rate Data``**

In [7]:
infant_mort_df = pd.read_csv("Datasets/india-population-infantmr.csv",skiprows=15)
infant_mort_df.head()

         date   Deaths per 1000 Live Births   Annual % Change
0  1950-12-31                       189.629               NaN
1  1951-12-31                       186.737             -1.53
2  1952-12-31                       183.846             -1.55
3  1953-12-31                       180.954             -1.57
4  1954-12-31                       178.062             -1.60

#### **``6. Life Expectancy Rate Data``**

In [8]:
life_expect_df = pd.read_csv("Datasets/india-population-lifeexp.csv",skiprows=15)
life_expect_df.head()

         date   Life Expectancy from Birth (Years)   Annual % Change
0  1950-12-31                                35.21               NaN
1  1951-12-31                                35.80              1.68
2  1952-12-31                                36.39              1.65
3  1953-12-31                                36.98              1.62
4  1954-12-31                                37.57              1.60

#### **``7. Rural Population Data``**

In [9]:
rural_pop_df = pd.read_csv("Datasets/india-rural-population.csv",skiprows=16)
rural_pop_df.head()

         date   Rural Population   % of Total   Annual % Change
0  1960-12-31          369791513       82.076            1.8770
1  1961-12-31          376759490       81.968            1.8668
2  1962-12-31          383620708       81.782            1.8047
3  1963-12-31          390697755       81.595            1.8280
4  1964-12-31          397946824       81.405            1.8384

#### **``8. Urban Population Data``**

In [10]:
urban_pop_df = pd.read_csv("Datasets/india-urban-population.csv",skiprows=16)
urban_pop_df.head()

         date   Urban Population   % of Total   Annual % Change
0  1960-12-31           80756166       17.924            2.3467
1  1961-12-31           82882675       18.032            2.5992
2  1962-12-31           85456482       18.218            3.0581
3  1963-12-31           88127853       18.405            3.0781
4  1964-12-31           90901311       18.595            3.0986

#### **``9. Suicide Rate Data``**

In [11]:
suicide_rate_df = pd.read_csv("Datasets/india-suicide-rate.csv",skiprows=16)
suicide_rate_df

         date   Total   Male   Female
0  31/12/2000   17.40   18.6     16.0
1  31/12/2005   17.60   18.1     17.1
2  31/12/2010   16.50   17.7     15.2
3  31/12/2015   16.50   18.5     14.9
4  31/12/2016   16.30   18.0     14.7
5  31/12/2016   17.95   21.2     14.7
6  31/12/2019   21.10   25.8     16.4

In [12]:
suicide_rate_df.drop_duplicates(subset='date',keep='first',inplace=True)
suicide_rate_df

         date   Total   Male   Female
0  31/12/2000    17.4   18.6     16.0
1  31/12/2005    17.6   18.1     17.1
2  31/12/2010    16.5   17.7     15.2
3  31/12/2015    16.5   18.5     14.9
4  31/12/2016    16.3   18.0     14.7
6  31/12/2019    21.1   25.8     16.4

#### **``Initial Pre-processing of dataframes``**

In [13]:
total_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 3 columns):
date                151 non-null object
 Population         151 non-null int64
 Annual % Change    150 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.7+ KB

In [14]:
cbr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 3 columns):
date                       151 non-null object
 Births per 1000 People    151 non-null float64
 Annual % Change           150 non-null float64
dtypes: float64(2), object(1)
memory usage: 3.7+ KB

In [15]:
dr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 3 columns):
date                       151 non-null object
 Deaths per 1000 People    151 non-null float64
 Annual % Change           150 non-null float64
dtypes: float64(2), object(1)
memory usage: 3.7+ KB

In [16]:
fert_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 3 columns):
date                 151 non-null object
 Births per Woman    151 non-null float64
 Annual % Change     150 non-null float64
dtypes: float64(2), object(1)
memory usage: 3.7+ KB

In [17]:
infant_mort_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 3 columns):
date                            151 non-null object
 Deaths per 1000 Live Births    151 non-null float64
 Annual % Change                150 non-null float64
dtypes: float64(2), object(1)
memory usage: 3.7+ KB

In [18]:
life_expect_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 3 columns):
date                                   151 non-null object
 Life Expectancy from Birth (Years)    151 non-null float64
 Annual % Change                       150 non-null float64
dtypes: float64(2), object(1)
memory usage: 3.7+ KB

In [19]:
rural_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 4 columns):
date                 59 non-null object
 Rural Population    59 non-null int64
 % of Total          59 non-null float64
 Annual % Change     59 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ KB

In [20]:
urban_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 4 columns):
date                 59 non-null object
 Urban Population    59 non-null int64
 % of Total          59 non-null float64
 Annual % Change     59 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 2.0+ KB

In [21]:
suicide_rate_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 6
Data columns (total 4 columns):
date       6 non-null object
 Total     6 non-null float64
 Male      6 non-null float64
 Female    6 non-null float64
dtypes: float64(3), object(1)
memory usage: 240.0+ bytes

#### **``Few things to joot down here:``**
##### **1. In every dataframe 'date' column is of string datatype which needs to be converted to a datatime column.**
##### **2. The other two columns in every dataframe contains an unwanted space in their names which needs to be removed.**
##### **3. Capitalize the column names to provide the uniformity.**
##### **4. Rural and Urban Population dataframes are having less number of records as compare to others(investigate it later, these might not be having the post 2019 prediction records).**
##### **5. For Suicide Rate only 6 years data is available and for 2016 there are multiple records which will be investigated later.**

In [22]:
total_pop_df.head()

         date   Population   Annual % Change
0  1950-12-31    376325200               NaN
1  1951-12-31    382376948              1.61
2  1952-12-31    388799073              1.68
3  1953-12-31    395544369              1.73
4  1954-12-31    402578596              1.78

In [23]:
def data_cleaning(d_frame):
    """
    Description: This function is performing below operations:
            1. Columns uniformity 
            2. Filtering the records where year > 2019
            3. Assigning the Date column of every dataframe as Index
    
    Input Parameters: It accepts:
            1. d_frame: DataFrame object 
    """
    d_frame.iloc[:,0] = pd.to_datetime(d_frame.iloc[:,0])
    d_frame.columns = ([str.capitalize(str.strip(col)) for col in d_frame.columns])
    d_frame.where(d_frame.iloc[:,0].dt.year <= 2019,inplace=True)
    d_frame.drop_duplicates(keep=False,inplace=True)
    d_frame.index = d_frame[d_frame.columns[0]]
    d_frame.drop([d_frame.columns[0]],axis=1,inplace=True)

In [24]:
all_data_frames = [total_pop_df,cbr_df,dr_df,fert_df,infant_mort_df,life_expect_df,rural_pop_df,urban_pop_df,suicide_rate_df]
for df in all_data_frames:
    data_cleaning(d_frame=df)

##### **``Now, let's analyse every dataframe one at a time...``**

In [32]:
for df in all_data_frames:
    name =[x for x in globals() if globals()[x] is df][0]
    print('DataFrame :: ',name,'\n')
    df.info()
    print('Starting Date:',df.index.min())
    print('Latest Date:',df.index.max())
    print('\n')

DataFrame ::  total_pop_df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 70 entries, 1950-12-31 to 2019-12-31
Data columns (total 2 columns):
Population         70 non-null float64
Annual % change    69 non-null float64
dtypes: float64(2)
memory usage: 1.6 KB
Starting Date: 1950-12-31 00:00:00
Latest Date: 2019-12-31 00:00:00


DataFrame ::  cbr_df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 70 entries, 1950-12-31 to 2019-12-31
Data columns (total 2 columns):
Births per 1000 people    70 non-null float64
Annual % change           69 non-null float64
dtypes: float64(2)
memory usage: 1.6 KB
Starting Date: 1950-12-31 00:00:00
Latest Date: 2019-12-31 00:00:00


DataFrame ::  dr_df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 70 entries, 1950-12-31 to 2019-12-31
Data columns (total 2 columns):
Deaths per 1000 people    70 non-null float64
Annual % change           69 non-null float64
dtypes: float64(2)
memory usage: 1.6 KB
Starting Date: 1950-12-31 00:00:00
Latest Date: 2019-12-31 00:00:00


DataFrame ::  fert_df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 70 entries, 1950-12-31 to 2019-12-31
Data columns (total 2 columns):
Births per woman    70 non-null float64
Annual % change     69 non-null float64
dtypes: float64(2)
memory usage: 1.6 KB
Starting Date: 1950-12-31 00:00:00
Latest Date: 2019-12-31 00:00:00


DataFrame ::  infant_mort_df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 70 entries, 1950-12-31 to 2019-12-31
Data columns (total 2 columns):
Deaths per 1000 live births    70 non-null float64
Annual % change                69 non-null float64
dtypes: float64(2)
memory usage: 1.6 KB
Starting Date: 1950-12-31 00:00:00
Latest Date: 2019-12-31 00:00:00


DataFrame ::  life_expect_df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 70 entries, 1950-12-31 to 2019-12-31
Data columns (total 2 columns):
Life expectancy from birth (years)    70 non-null float64
Annual % change                       69 non-null float64
dtypes: float64(2)
memory usage: 1.6 KB
Starting Date: 1950-12-31 00:00:00
Latest Date: 2019-12-31 00:00:00


DataFrame ::  rural_pop_df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 59 entries, 1960-12-31 to 2018-12-31
Data columns (total 3 columns):
Rural population    59 non-null int64
% of total          59 non-null float64
Annual % change     59 non-null float64
dtypes: float64(2), int64(1)
memory usage: 1.8 KB
Starting Date: 1960-12-31 00:00:00
Latest Date: 2018-12-31 00:00:00


DataFrame ::  urban_pop_df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 59 entries, 1960-12-31 to 2018-12-31
Data columns (total 3 columns):
Urban population    59 non-null int64
% of total          59 non-null float64
Annual % change     59 non-null float64
dtypes: float64(2), int64(1)
memory usage: 1.8 KB
Starting Date: 1960-12-31 00:00:00
Latest Date: 2018-12-31 00:00:00


DataFrame ::  suicide_rate_df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2000-12-31 to 2019-12-31
Data columns (total 3 columns):
Total     6 non-null float64
Male      6 non-null float64
Female    6 non-null float64
dtypes: float64(3)
memory usage: 192.0 bytes
Starting Date: 2000-12-31 00:00:00
Latest Date: 2019-12-31 00:00:00

##### **Here, we found out that in Rural and Urban Population datasets records are not available for years 1951 to 1959 and 2019. And, Suicide Rate dataset has very records.**

##### **Now, lets merge all the dataframes**

In [33]:
ind_pop_df = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],how='outer'), all_data_frames)

In [34]:
ind_pop_df.shape

(70, 21)

In [41]:
ind_pop_df.head()

,Population,Annual % change_x,Births per 1000 people,Annual % change_y,Deaths per 1000 people,Annual % change_x,Births per woman,Annual % change_y,Deaths per 1000 live births,Annual % change_x,Life expectancy from birth (years),Annual % change_y,Rural population,% of total_x,Annual % change_x,Urban population,% of total_y,Annual % change_y,Total,Male,Female
Date,,,,,,,,,,,,,,,,,,,,,
1950-12-31,376325200.0,NaN,44.175,NaN,28.161,NaN,5.907,NaN,189.629,NaN,35.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951-12-31,382376948.0,1.61,43.970,-0.46,27.584,-2.05,5.906,-0.02,186.737,-1.53,35.80,1.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1952-12-31,388799073.0,1.68,43.764,-0.47,27.008,-2.09,5.904,-0.03,183.846,-1.55,36.39,1.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953-12-31,395544369.0,1.73,43.558,-0.47,26.432,-2.13,5.903,-0.02,180.954,-1.57,36.98,1.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954-12-31,402578596.0,1.78,43.352,-0.47,25.856,-2.18,5.902,-0.02,178.062,-1.60,37.57,1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
ind_pop_df.columns = ['Population','Pop_annual_change','Birth_Rate','BR_annual_change','Death_Rate','DR_annual_change','Fert_Rate','FR_annual_change',
                     'Inf_Mort_Rate','Inf_Mort_annual_change','Life_Exp_Rate','Life_Exp_annual_change',
                      'Rural_Pop','Rural_Percent_of_Total_Pop','Rural_Pop_change','Urban_Pop','Urban_Percent_of_Total_Pop','Urban_Pop_change',
                      'SR_Total','SR_Male','SR_Female']

In [48]:
ind_pop_df.head(10)

,Population,Pop_annual_change,Birth_Rate,BR_annual_change,Death_Rate,DR_annual_change,Fert_Rate,FR_annual_change,Inf_Mort_Rate,Inf_Mort_annual_change,Life_Exp_Rate,Life_Exp_annual_change,Rural_Pop,Rural_Percent_of_Total_Pop,Rural_Pop_change,Urban_Pop,Urban_Percent_of_Total_Pop,Urban_Pop_change,SR_Total,SR_Male,SR_Female
Date,,,,,,,,,,,,,,,,,,,,,
1950-12-31,376325200.0,NaN,44.175,NaN,28.161,NaN,5.907,NaN,189.629,NaN,35.210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1951-12-31,382376948.0,1.61,43.970,-0.46,27.584,-2.05,5.906,-0.02,186.737,-1.53,35.800,1.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1952-12-31,388799073.0,1.68,43.764,-0.47,27.008,-2.09,5.904,-0.03,183.846,-1.55,36.390,1.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953-12-31,395544369.0,1.73,43.558,-0.47,26.432,-2.13,5.903,-0.02,180.954,-1.57,36.980,1.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954-12-31,402578596.0,1.78,43.352,-0.47,25.856,-2.18,5.902,-0.02,178.062,-1.60,37.570,1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1955-12-31,409880595.0,1.81,43.146,-0.48,25.280,-2.23,5.900,-0.03,175.171,-1.62,38.160,1.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1956-12-31,417442811.0,1.84,42.941,-0.48,24.703,-2.28,5.899,-0.02,172.279,-1.65,38.750,1.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1957-12-31,425270695.0,1.88,42.735,-0.48,24.127,-2.33,5.897,-0.03,169.388,-1.68,39.340,1.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1958-12-31,433380978.0,1.91,42.529,-0.48,23.551,-2.39,5.896,-0.02,166.496,-1.71,39.930,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1959-12-31,441798578.0,1.94,42.298,-0.54,23.016,-2.27,5.895,-0.02,164.119,-1.43,40.532,1.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Above is the final dataframe
    - Find the hidden patterns (Via visualization)
    - ANOVA Statistical Test??

In [ ]:
p = figure(plot_width=400, plot_height=400,x_axis_label='x',y_axis_label='y')

p.square(cbr_data['Births per 1000 People'],cbr_data['Annual % Change'],size=15,line_color='black',fill_alpha=0.5,fill_color='orange')

show(p)